.ckpr_middle_page {
    .ckpr_stub_1 {
        top: 0.24in;
    }
    .ckpr_check {
        top: 3.98in;
        left: 0.22in;
    }
    .ckpr_stub_2 {
        top: 7.4in;
    }
    .ckpr_check .sequence_number {
        top: 0in;
        left: 7.19in;
        width: 0.76in;
        text-align: center;
    }
    .ckpr_payee_name {
        top: 0.6in;
        left: 0.63in;
        width: 4.5in;
        text-align: left;
    }
    .ckpr_date {
        top: 0.9in;
        left: 4.6in;
        width: 1.07in;
        text-align: center;
    }
    .ckpr_amount {
        top: 0.9in;
        left: 6.3in;
        width: 1.07in;
        text-align: right;
    }
    .ckpr_amount_in_word {
        top: 1.15in;
        left: 0.05in;
        width: 7in;
        text-align: left;
        //font-weight: bold;
        overflow: hidden;
    }
    .ckpr_payee_addr {
        top: 1.30in;
        left: 0.2in;
        margin-top: 0.1in;
    }
    .ckpr_memo {
        top: 1.98in;
        left: 0.43in;
        width: 4.3in;
        text-align: left;
        font-size: 0.9em;
        overflow: hidden;
    }
}
