
  HR {
    color: rgb(224,224,224);
    height: 1px; /*border-style: dotted dashed;*/
  }

  A {
    color: green;
    font-size: 8pt;
    font-family: Verdana;
    text-decoration: underline;
  }

    A:hover {
      color: #000;
      font-size: 8pt;
      font-family: Verdana;
      text-decoration: underline;
    }

    A:active {
      color: #ff0000;
      font-size: 8pt;
      font-family: Verdana;
      text-decoration: underline;
    }

  BODY {
    margin-top: 0px;
    font-weight: bold;
    font-size: 9pt;
    margin-bottom: 0px;
    color: #0d4c91;
    font-family: Verdana, sans-serif, Tahoma, Arial, Helvetica;
  }

  TABLE {
    padding: 0px;
    font-weight: normal;
    font-size: 7pt;
    border-collapse: collapse;
  }

  TD.tdg {
    border-right: #cccccc 1px solid;
    padding-right: 0px;
    border-top: #cccccc 1px solid;
    padding-left: 0px;
    font-weight: normal;
    font-size: 7pt;
    padding-bottom: 0px;
    border-left: #cccccc 1px solid;
    padding-top: 0px;
    border-bottom: #cccccc 1px solid;
  }

  TH {
    border-right: #0d4c91 1px;
    border-top: #0d4c91 1px solid;
    font-weight: lighter;
    border-left: #0d4c91 1px;
    color: #0d4c91;
    border-bottom: #0d4c91 1px solid;
    font-family: Verdana, Arial;
    text-align: center;
    background-color: #f1fdf1;
  }

  TD {
    font-weight: normal;
    font-size: 9pt;
    text-transform: none;
    color: #333;
    font-style: normal;
    font-family: Verdana, Arial, sans-serif, Tahoma;
  }

  textarea {
    border-right: #C0C0C0 1px solid;
    padding-right: 1px;
    border-top: #C0C0C0 1px solid;
    padding-left: 1px;
    font-size: 7pt;
    padding-bottom: 0px;
    border-left: #C0C0C0 1px solid;
    padding-top: 0px;
    border-bottom: #C0C0C0 1px solid;
    font-family: Verdana, Arial, sans-serif, Tahoma;
    background-color: #F0F0F0;
  }

  INPUT {
    border-right: #c0c0c0 1px solid;
    padding-right: 1px;
    border-top: #c0c0c0 1px solid;
    padding-left: 1px;
    font-size: 7pt;
    padding-bottom: 0px;
    border-left: #c0c0c0 1px solid;
    padding-top: 0px;
    border-bottom: #c0c0c0 1px solid;
    font-family: Verdana, Arial, sans-serif, Tahoma;
    background-color: #f0f0f0;
  }

    INPUT.cn {
      font-family: sans-serif,Arial,Verdana,Tahoma, Helvetica;
      font-size: 7pt;
      letter-spacing: -0.1mm;
      text-align: right;
      background-color: #eeeeee;
      padding-top: 1px;
      padding-bottom: 0px;
      border-right: 1px solid;
      color: #000000;
      border-top: 1px solid;
      border-left: 1px solid;
      border-bottom: 1px solid;
    }

    INPUT.ct {
      border-right: #c0c0c0 1px solid;
      border-top: #c0c0c0 1px solid;
      border-left: #c0c0c0 1px solid;
      border-bottom: #c0c0c0 1px solid;
      font-family: sans-serif,Arial,Verdana,Tahoma, Helvetica;
      background-color: #ffffff;
      color: #000000;
      font-size: 7pt;
      letter-spacing: -0.1mm;
      text-align: left;
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-top: 0px;
    }

  SELECT {
    border-right: #C0C0C0 1px inset;
    padding-right: 1px;
    border-top: #C0C0C0 1px inset;
    padding-left: 1px;
    padding-bottom: 0px;
    border-left: #C0C0C0 1px inset;
    padding-top: 0px;
    border-bottom: #C0C0C0 1px inset;
    font-size: 7pt;
    font-family: Verdana, Arial, sans-serif, Tahoma;
    background-color: #F0F0F0;
  }

  OPTION {
    font-size: 7pt;
    font-family: Verdana;
    text-decoration: none;
  }

  .tdgrid {
    border-right: #dcdcdc 1mm;
    border-top: #dcdcdc 1mm;
    font-weight: normal;
    font-size: 8pt;
    text-transform: none;
    border-left: #dcdcdc 1mm;
    color: #333;
    border-bottom: #dcdcdc 1px solid;
    font-style: normal;
    font-family: Verdana, Arial, sans-serif, Tahoma;
  }

  .radio {
    font-size: 7pt;
    border-top-style: none;
    font-family: Verdana, sans-serif, Tahoma, Arial, Helvetica;
    border-right-style: none;
    border-left-style: none;
    background-color: transparent;
    border-bottom-style: none;
  }

  .UpperTextBox {
    border-right: #C0C0C0 1px solid;
    padding-right: 1px;
    border-top: #C0C0C0 1px solid;
    padding-left: 1px;
    font-size: 7pt;
    padding-bottom: 0px;
    border-left: #C0C0C0 1px solid;
    padding-top: 0px;
    border-bottom: #C0C0C0 1px solid;
    font-family: Verdana, Arial, sans-serif, Tahoma;
    background-color: #F0F0F0;
    text-transform: uppercase;
  }

  .TextBox {
    border-right: #C0C0C0 1px solid;
    padding-right: 1px;
    border-top: #C0C0C0 1px solid;
    padding-left: 1px;
    font-size: 7pt;
    padding-bottom: 0px;
    border-left: #C0C0C0 1px solid;
    padding-top: 0px;
    border-bottom: #C0C0C0 1px solid;
    font-family: Verdana, Arial, sans-serif, Tahoma;
    background-color: #F0F0F0;
  }

  .Button {
    border-right: #c0c0c0 0px solid;
    padding-right: 1px;
    border-top: #c0c0c0 0px solid;
    padding-left: 1px;
    font-size: 7pt;
    background-image: url(imagenes/FondoBoton.bmp);
    padding-bottom: 1px;
    border-left: #c0c0c0 0px solid;
    cursor: pointer;
    padding-top: 1px;
    border-bottom: #c0c0c0 0px solid;
    font-family: Verdana, Arial, sans-serif, Tahoma;
    background-color: #f0f0f0;
  }

  .dg {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
  }

  .dgH {
    font-weight: lighter;
    color: #0d4c91;
    font-family: Verdana, Arial;
    /* background-color: #F4F4F4; */
    border-bottom: 1px solid #bfc4ca;
    text-align: center;
  }

  .dgD {
    border-right: #dcdcdc 1mm;
    border-top: #dcdcdc 1mm;
    font-weight: normal;
    font-size: 7pt;
    text-transform: none;
    border-left: #dcdcdc 1mm;
    color: #0d4c91;
    border-bottom: #dcdcdc 1px solid;
    font-style: normal;
    font-family: Verdana, Arial, sans-serif, Tahoma;
  }

  .logo {
    font-weight: bold;
    font-size: 28pt;
    text-transform: uppercase;
    color: #000000;
    font-style: normal;
    font-family: 'Times New Roman', Verdana, sans-serif, Tahoma, Arial, Helvetica;
  }

  .sef {
    font-weight: bold;
    font-size: 10pt;
    text-transform: uppercase;
    color: #000000;
    font-style: normal;
    font-family: 'Times New Roman', Verdana, sans-serif, Tahoma, Arial, Helvetica;
  }

  .dgii {
    font-weight: bold;
    font-size: 12pt;
    text-transform: uppercase;
    color: #000000;
    font-style: normal;
    font-family: 'Times New Roman', Verdana, sans-serif, Tahoma, Arial, Helvetica;
  }

  .rep {
    font-family: Verdana, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-transform: uppercase;
  }

  TD.titulo {
    padding-left: 0px;
    background-position: left bottom;
    padding-left: 0px;
    font-weight: bold;
    font-size: 14pt;
    background-image: url(imagenes/gradient-top-verde.gif);
    background-repeat: no-repeat;
    background-position: bottom -50px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-family: Tahoma, Arial;
    letter-spacing: 0pt;
    height: 40px;
    color: #5eb645;
  }

  TD.tituloresumen {
    padding-left: 0px;
    background-position: left bottom;
    padding-left: 10px;
    font-weight: bold;
    font-size: 14pt;
    background-image: url(imagenes/barresumen.png);
    background-repeat: no-repeat;
    background-position: bottom -50px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-family: Tahoma, Arial;
    letter-spacing: 0pt;
    height: 40px;
    color: #fff;
  }

  .TDtitulo {
    padding-right: 2px;
    border-top: #0d4c91 1px;
    padding-left: 2px;
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 4px;
    color: #0d4c91;
    padding-top: 4px;
    border-bottom: #0d4c91 1px solid;
    font-family: Verdana, Arial, 'MS Sans Serif', Tahoma;
    background-color: #dcdcdc;
  }

  INPUT.t {
    border-right: 0px solid;
    border-top: 0px solid;
    font-size: 7pt;
    padding-bottom: 0px;
    border-left: 0px solid;
    padding-top: 1px;
    border-bottom: 0px solid;
    font-family: sans-serif,Arial,Verdana,Tahoma, Helvetica;
    letter-spacing: -0.1mm;
    background-color: #f0f0f0;
    text-align: right;
  }

  INPUT.tx {
    border-right: #c0c0c0 1px solid;
    padding-right: 0px;
    border-top: #c0c0c0 1px solid;
    padding-left: 0px;
    font-size: 7pt;
    padding-bottom: 0px;
    border-left: #c0c0c0 1px solid;
    padding-top: 0px;
    border-bottom: #c0c0c0 1px solid;
    font-family: sans-serif,Arial,Verdana,Tahoma, Helvetica;
    letter-spacing: -0.1mm;
    text-align: left;
  }

  INPUT.tex {
    border-right: #c0c0c0 1px solid;
    padding-right: 0px;
    border-top: #c0c0c0 1px solid;
    padding-left: 0px;
    font-size: 7pt;
    padding-bottom: 0px;
    border-left: #c0c0c0 1px solid;
    padding-top: 0px;
    border-bottom: #c0c0c0 1px solid;
    font-family: sans-serif,Arial,Verdana,Tahoma, Helvetica;
    letter-spacing: -0.1mm;
    text-align: left;
  }

  .rep {
    font-weight: bold;
    font-size: 12pt;
    text-transform: uppercase;
    font-family: Verdana, sans-serif;
  }

  .tf {
    font-weight: normal;
    font-size: 10pt;
    text-transform: uppercase;
    color: #000000;
    font-style: normal;
    font-family: Verdana, sans-serif, Tahoma, Arial, Helvetica;
  }

  .ts {
    font-weight: normal;
    font-size: 9pt;
    text-transform: uppercase;
    color: #5eb645;
    font-family: Verdana, sans-serif, Tahoma, Arial, Helvetica;
    background-color: #ECF1F6;
    text-align: left;
  }

  .r {
    font-size: 7pt;
    font-family: Verdana, sans-serif;
    color: #000000;
  }

  .nf {
    font-weight: bold;
    font-size: 8pt;
    text-transform: capitalize;
    color: #000000;
    font-family: Verdana, sans-serif;
  }

  .lf {
    font-weight: lighter;
    font-size: 20pt;
    text-transform: uppercase;
    color: #000000;
    font-family: Verdana, sans-serif;
  }

  .nd {
    border-right: #c0c0c0 1px solid;
    border-top: #c0c0c0 1px solid;
    font-weight: bold;
    font-size: 8pt;
    padding-bottom: 0px;
    text-transform: capitalize;
    border-left: #c0c0c0 1px solid;
    color: #ff4040;
    padding-top: 1px;
    border-bottom: #c0c0c0 1px solid;
    font-family: Arial,sans-serif, Verdana,Tahoma, Helvetica;
    background-color: #ffffff;
    text-align: left;
  }

  .rd {
    font-size: 6pt;
    font-family: Verdana, sans-serif, Tahoma, Arial, Helvetica;
  }

  .casilla {
    font-size: 7pt;
    text-transform: uppercase;
    font-family: Arial,sans-serif, Verdana,Tahoma, Helvetica;
    text-align: left;
  }

  .boton {
    font-size: 8pt;
    color: #0d4c91;
    font-family: Verdana, Tahoma, Arial;
    background-color: #f5f5ff;
  }

  .principal {
    font-size: 8pt;
    color: #0d4c91;
    font-family: Verdana, Tahoma, Arial;
    background-color: #ffbe92;
  }

  TD.l {
    font-family: Verdana, sans-serif;
    font-size: 7pt;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
  }

  TD.lb {
    border-right: #dcdcdc 1mm;
    border-top: #dcdcdc 1mm;
    font-weight: bold;
    font-size: 7pt;
    text-transform: none;
    border-left: #dcdcdc 1mm;
    color: #0d4c91;
    border-bottom: #dcdcdc thin;
    font-style: normal;
    font-family: Verdana, Arial, sans-serif, Tahoma;
  }

  TD.r {
    border-right: #cccccc 1px solid;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 7pt;
    padding-bottom: 0px;
    padding-top: 0px;
    border-bottom: #cccccc 1px solid;
    font-family: Verdana, sans-serif;
  }

  TD.rd {
    border-right: #cccccc 1px solid;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 6pt;
    padding-bottom: 0px;
    padding-top: 0px;
    border-bottom: #cccccc 1px solid;
    font-family: Verdana, sans-serif, Tahoma, Arial, Helvetica;
  }

  TABLE.d {
    padding-right: 0px;
    border-top: #cccccc 1px solid;
    padding-left: 0px;
    padding-bottom: 0px;
    border-left: #cccccc 1px solid;
    padding-top: 0px;
    border-collapse: collapse;
  }

  .buttons {
    cursor: pointer;
    font-size: 8pt;
    font-family: Verdana;
    text-align: center;
    color: #000;
    background: #fff url('imagenes/barra.png') repeat-x 50% -5px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 24px;
    border: 1px solid #5eb645;
  }

  .Buttons {
    cursor: pointer;
    font-size: 8pt;
    font-family: Verdana;
    text-align: center;
    color: #000;
    background: #fff url('imagenes/barra.png') repeat-x 50% -5px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 24px;
    border: 1px solid #5eb645;
  }

  .fields {
    font-family: Verdana;
    font-size: 8pt;
    color: #000000;
    border-style: solid;
    border-width: 1;
    border-color: #009933;
  }

  .m {
    font-family: Verdana, sans-serif;
    font-size: 7pt;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .mensaje {
    font-weight: normal;
    font-size: 8pt;
    color: #000;
    font-family: Verdana, sans-serif, Tahoma, Arial, Helvetica;
    text-align: justify;
  }

  .rowSelected {
    background-color: #F0F0F0;
    font-weight: bold;
  }

  .panel {
    background: #ECF1F6;
  }

  .lsb {
    padding-right: 0px;
    padding-left: 0px;
    font-weight: bold;
    font-size: 8pt;
    padding-bottom: 0px;
    padding-top: 0px;
    font-family: Verdana, sans-serif;
  }
}

@media print {
  a {
    text-decoration: none;
  }

  #tablaMenu {
    display: none;
  }

  td.tdg {
    width: 100%;
  }

  .buttons {
    display: none;
  }

  td.titulo {
    padding-right: 0px;
    padding-left: 0px;
    font-weight: bold;
    font-size: 12pt;
    padding-bottom: 0px;
    padding-top: 0px;
    font-family: Tahoma, Arial;
    letter-spacing: 0pt;
    height: 15px;
    text-align: left;
  }


.imphash {
  font-size: 7pt;
  font-weight: bold;
}

/*Modal Popup*/
.modalBackground {
  background-color: Gray;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.modalPopup {
  background-color: White
  /*background-color:#0D4C91;
	border-width:1px;
	border-style:solid;
	border-color:#0d4c91;
	padding:3px;
	width:250px;*/;
  width: 278px;
}

.modalPopupOuter {
  background-color: Transparent;
  padding: 10px 10px;
  width: 700px;
  height: 500px;
}

.UpdateProgressContent {
  width: 150px;
  text-align: center;
  vertical-align: middle;
  position: fixed;
  bottom: 50%;
  left: 45%;
}

.UpdateProgressRadControl {
  width: 150px;
  text-align: center;
  vertical-align: middle;
  position: fixed;
  bottom: 45%;
  left: 40%;
}

.UpdateProgressBackground {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #A1A1A1;
  filter: alpha(opacity=70);
  opacity: 0.7;
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
}

select.ComboOFV {
  border-right: #C0C0C0 1px inset;
  padding-right: 1px;
  border-top: #C0C0C0 1px inset;
  padding-left: 1px;
  padding-bottom: 0px;
  border-left: #C0C0C0 1px inset;
  padding-top: 0px;
  border-bottom: #C0C0C0 1px inset;
  font-size: 10pt !important;
  font-family: Verdana, Arial, sans-serif, Tahoma;
  background-color: #F0F0F0;
}

.ComboOFV option {
  font-size: 10pt !important;
  font-family: Verdana;
  text-decoration: none;
}

input.TextOFV {
  border-right: #C0C0C0 1px inset;
  padding-right: 1px;
  border-top: #C0C0C0 1px inset;
  padding-left: 1px;
  padding-bottom: 0px;
  border-left: #C0C0C0 1px inset;
  padding-top: 0px;
  border-bottom: #C0C0C0 1px inset;
  font-size: 10pt !important;
  font-family: Verdana, Arial, sans-serif, Tahoma;
  background-color: #F0F0F0;
}

/*gridview*/
.table table tbody tr td a,
.table table tbody tr td span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.table table > tbody > tr > td > span {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}

.table table > tbody > tr > td:first-child > a,
.table table > tbody > tr > td:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.table table > tbody > tr > td:last-child > a,
.table table > tbody > tr > td:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.table table > tbody > tr > td > a:hover,
.table table > tbody > tr > td > span:hover,
.table table > tbody > tr > td > a:focus,
.table table > tbody > tr > td > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}

