
.tooltip-styl 
{
   display:table !important;
    background: white;
    font-size:10px;
    width:100%; 
    padding:10px;
    color:Black; 
    z-index: 99;
    bottom: 10px;
    border: 2px solid LimeGreen !important; 
}
.ui-tooltip-content
{
    display:table !important;
}
TABLE
{
    FONT-WEIGHT: normal;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	border-collapse: collapse;
}
TD.l
{
font-family:Verdana, sans-serif;
font-size:7pt;
PADDING-LEFT: 0px;
PADDING-RIGHT: 0px;
PADDING-BOTTOM: 0px;
PADDING-TOP: 0px;
}
TD.l2
{
font-family:Verdana, sans-serif;
font-size:10pt;
PADDING-LEFT: 0px;
PADDING-RIGHT: 0px;
PADDING-BOTTOM: 0px;
PADDING-TOP: 0px;
}
TD.ln
{
font-family:Verdana, sans-serif;
font-weight: bold;
font-size:7pt;
PADDING-LEFT: 0px;
PADDING-RIGHT: 0px;
PADDING-BOTTOM: 0px;
PADDING-TOP: 0px;
}
.lm
{
font-family:Verdana, sans-serif;
font-weight: normal;
font-size:6pt;
PADDING-LEFT: 0px;
PADDING-RIGHT: 0px;
PADDING-BOTTOM: 0px;
PADDING-TOP: 0px;
}

TD.c
{
	padding-right: 0px;
	padding-left: 0px;
	font-size: 7pt;
	padding-bottom: 0px;
	padding-top: 0px;
	font-family: Verdana, sans-serif;
	text-align: center;
}

TD.ls
{
	padding-right: 0px;
	padding-left: 0px;
	font-weight: bold;
	font-size: 7pt;
	padding-bottom: 0px;
	padding-top: 0px;
	font-family: Verdana, sans-serif;
	text-align: center;
}
TD.lsl
{
	padding-right: 0px;
	padding-left: 0px;
	font-weight: bold;
	font-size: 7pt;
	padding-bottom: 0px;
	color: #000000;
	padding-top: 0px;
	font-family: Verdana, sans-serif;
	text-align: left;
}
TD.m
{
	font-family:Verdana, sans-serif;
	font-size:7pt;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
}
TD.mc
{
	font-family:Verdana, sans-serif;
	font-size:7pt;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	color: #000000;
}
TD.crt
{
	font-family:Verdana, sans-serif;
	font-size:11pt;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	color: #000000;
}
.crtt
{
	font-family:Verdana, sans-serif;
	font-size:8pt;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	color: #000000;
}

.scrt
{
	text-decoration: 'underline';
	font-weight: bold;
}
.ucrt
{
	font-weight: bold;
}
INPUT.cn
{
    font-family:sans-serif,Arial,Verdana,Tahoma, Helvetica ;
	font-size:7pt;
	letter-spacing:-0.1mm;
	TEXT-ALIGN: right;
	background-color: #ffffff;
	padding-top: 1px;
	padding-bottom: 0px;
	BORDER-RIGHT: 0px solid;
	color:#000000;
    BORDER-TOP: 0px solid;
    BORDER-LEFT: 0px solid;
    BORDER-BOTTOM:0px solid;
}
INPUT.cb
{
    font-family:sans-serif,Arial,Verdana,Tahoma, Helvetica ;
	font-size:7pt;
	letter-spacing:-0.1mm;
	TEXT-ALIGN: left;
	background-color: #ffffff;
	padding-top: 1px;
	padding-bottom: 0px;
	BORDER-RIGHT: 0px solid;
	color:#000000;
    BORDER-TOP: 0px solid;
    BORDER-LEFT: 0px solid;
    BORDER-BOTTOM:0px solid;
}
INPUT.ct
{
    BORDER-RIGHT: #c0c0c0 1px solid;
    BORDER-TOP: #c0c0c0 1px solid;
    BORDER-LEFT: #c0c0c0 1px solid;
    BORDER-BOTTOM: #c0c0c0 1px solid;
    font-family:sans-serif,Arial,Verdana,Tahoma, Helvetica ;
    background-color: #ffffff;
    color:#000000;
	font-size:7pt;
	letter-spacing:-0.1mm;
	TEXT-ALIGN: left;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px
}
INPUT.sb
{
    BORDER-RIGHT: #c0c0c0 0px solid;
    BORDER-TOP: #c0c0c0 0px solid;
    BORDER-LEFT: #c0c0c0 0px solid;
    BORDER-BOTTOM: #c0c0c0 0px solid;
    font-family:sans-serif,Arial,Verdana,Tahoma, Helvetica ;
    background-color: #ffffff;
    color:#000000;
	font-size:7pt;
	letter-spacing:-0.1mm;
	TEXT-ALIGN: left;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px
}
TD.rd
{
font-family:Verdana, sans-serif, Tahoma, Arial, Helvetica;
font-size:6pt;
BORDER-RIGHT: #cccccc 1px solid;
BORDER-BOTTOM: #cccccc 1px solid;
PADDING-LEFT: 0px;
PADDING-RIGHT: 0px;
PADDING-BOTTOM: 0px;
PADDING-TOP: 0px;
}

TABLE.d
{
    PADDING-RIGHT: 0px;
    BORDER-TOP: #cccccc 1px solid;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	BORDER-LEFT: #cccccc 1px solid; 
	PADDING-TOP: 0px;
	BORDER-COLLAPSE: Collapse
}
.sef 
{
	font-weight: bold;
	font-size: 10pt;
	text-transform: uppercase;
	color: black;
	font-family: 'Times New Roman';
}

.dgii 
{
	font-weight: bold;
	font-size: 12pt;
	text-transform: uppercase;
	color: black;
	font-family: 'Times New Roman';	
}
.cert
{
	font-weight: bold;
	font-size: 12pt;
	text-transform: uppercase;
	text-decoration:'underline';
	color: black;
	font-family: 'Times New Roman';
}
.tf
{
font-family:Verdana, sans-serif;
font-size:8pt;
font-weight:bold;
text-transform:capitalize;
color: #000000
}
.tft
{
font-family:Verdana, sans-serif;
font-size:8pt;
font-weight:bold;
text-transform:capitalize;
background-color:#d7edf2
}
.tftj
{
font-family:Verdana, sans-serif;
font-size:8pt;
font-weight:bold;
text-transform:capitalize;
background-color:#deb887
}
.sct
{
font-family:Verdana, sans-serif;
font-size:8pt;
font-weight:bold;
text-transform:capitalize;
background-color:#ccffcc;
}
.nd
{
	font-family:Verdana, sans-serif;
	font-size:8pt;
	font-weight:bold;
	text-transform:capitalize;
	color: #FF4040;
	BORDER-RIGHT: #c0c0c0 1px solid;
	BORDER-TOP: #c0c0c0 1px solid;
    BORDER-LEFT: #c0c0c0 1px solid;
    BORDER-BOTTOM: #c0c0c0 1px solid;
    font-family:Arial,sans-serif, Verdana,Tahoma,  Helvetica;
	font-size:8pt;
	TEXT-ALIGN: left;
	background-color:#ffffff ;
	padding-top: 1px;
	padding-bottom: 0px;
}
.r
{
font-family:Verdana, sans-serif;
font-size:7pt;
}
.rep
{
font-family:Verdana, sans-serif;
font-size:12pt;
font-weight: bold;
text-transform: uppercase
}
.rd
{
font-family:Verdana, sans-serif, Tahoma, Arial, Helvetica;
font-size:6pt
}
.t
{
font-family:Arial,sans-serif;
font-size:7pt;
TEXT-ALIGN: right;
}
.tx
{
font-family:Arial,sans-serif, Verdana,Tahoma,  Helvetica;
font-size:7pt;
TEXT-ALIGN: left;
text-transform:uppercase
}
.principal
{
    FONT-SIZE: 8pt;
    COLOR: #0d4c91;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    BACKGROUND-COLOR: #ffbe92
}
